@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    padding: 0;
}

Img {
    width: 100%;
    height: auto;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

img:hover {
    scale: 102%;
}